<div class="div-registration">
    <div class="btn-close"><span class="exit-big">&nbsp;</span></div>
    <div class="div-registration_title">Регистрация</div>
    <ul class="ul-clear">
        <li><span class="div-registration_li">Данные лицевого</span><span>&rarr;</span></li>
        <li><span class="div-registration_li active">Данные для входа</span><span>&rarr;</span></li>
        <li><span class="div-registration_li">Готово!</span></li>
    </ul>
    <form id="step2-form" action="{{ path('user_register_step2') }}" method="post">
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        <div class="div-registration_wrapper-2">
            <div class="div-registration_e-mail
            {% if form.email.vars.errors|length > 0 %}
                    error
                {% endif %}">
                <div>E-mail</div>
                {{ form_widget(form.email) }}
            </div>
            <div class="div-registration_password
            {% if form.password.first.vars.errors|length > 0 %}
                    error
                {% endif %}">
                Пароль <span class="gray-12">(не менее 6 символов)</span><br>
                {{ form_widget(form.password.first) }}
            </div>
            <div class="div-registration_password
            {% if form.password.first.vars.errors|length > 0 %}
                    error
                {% endif %}">
                Повторите пароль<br>
                {{ form_widget(form.password.second) }}
            </div>
            <div class="separator pad-20"></div>
            <div class="div-registration_next">
                <input id="step2-next" type="button" value="Далее"> <span class="orange_delete">
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.password.first) }}</span>
            </div>
        </div>
    </form>
</div>
