<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>_ ЖКХ _</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <!--[if IE ]><link rel="stylesheet" href="{{ asset('gkh/css/ie.css') }}" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="{{ asset('gkh/css/style.css') }}" type="text/css" media="screen, projection" />
    <script type="text/javascript" src="{{ asset('gkh/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gkh/js/jquery.limit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gkh/js/jquery.formstyler.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('gkh/css/jquery.formstyler.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ asset('gkh/js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gkh/js/inputstyler.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gkh/js/users.js') }}"></script>
</head>

<body class="base">

<div class="wrapper">

    <div class="header">
        <div class="logo"><a href="#"><img src="{{ asset('gkh/img/logo.png') }}" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
        {% if app.user %}
        <div class="header_user">{{ app.user.username }}</div>
        {% endif %}
        <div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
        {% if not app.user %}
            <div class="header_user_exit"><a id="login-button" title="Вход" href="#">Вход</a><a id="register-button" style="margin-left: 10px;" title="Регистрация" href="#">Регистрация</a></div>
        {% endif %}
        {% if app.user %}
            <div class="header_user_exit"><a id="logout-button" title="Выход" href="{{ path('fos_user_security_logout') }}">Выход</a></div>
        {% endif %}
     <!--   <div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>-->
        <div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
        <div class="header_user_electronic-treatment"><a id="electron_button" title="Электронное обращение" href="#">Электронное обращение</a></div>
    </div><!-- .header-->

    <div class="middle">
        <div class="container">
            <!--content-->
            {% block content %}
            {% endblock content %}
        </div><!-- .container-->
    </div><!-- .middle-->

</div><!-- .wrapper -->

<div class="footer">
    <div class="footer-inner">
        <div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
        <ul class="footer-ul ul-clear">
            <li><a href="#">Справочник организаций</a></li>
            <li><a href="#">Льготы</a></li>
            <li><a href="#">Нормативы по теплу</a></li>
            <li><a href="#">Тарифы</a></li>
        </ul>
        <div class="feedback">
            <a href="#">ОБРАТНАЯ СВЯЗЬ</a>
        </div>
        <div class="like">
            <div class="b-social">
                <div class="soc fb"><img src="{{ asset('gkh/img/soc-fb.png') }}"></div>
                <div class="soc vk"><img src="{{ asset('gkh/img/soc-vk.png') }}"></div>
                <div class="soc tw"><img src="{{ asset('gkh/img/soc-tw.png') }}"></div>
                <div class="soc ok"><img src="{{ asset('gkh/img/soc-ok.png') }}"></div>

            </div><!--b-social-->
        </div>
        <div class="banner"><a href="#"><img src="{{ asset('gkh/img/banner.png') }}" alt=''/></a></div>
        <div class="footer-like">
            <a href="#" class="twitter">&nbsp;</a>&nbsp;
            <a href="#" class="facebook">&nbsp;</a>&nbsp;
            <a href="#" class="vk">&nbsp;</a>&nbsp;
        </div>
        <div class="copyrights">&copy; 2013, ЖКХ-online</div>
        <div class="support"><a href="#">Разработка сайта <img src="{{ asset('gkh/css/pict/link.png') }}" alt=''/></a></div>

    </div>
</div><!-- .footer -->

</body>
</html>