{% extends "GkhBundle::layout.html.twig" %}
{% block content %}
    <div class="header_text">
				Минск, ул. Рафиева, д. 45, корп. 2, кв. 175<br>
				<a href="#" title="Подробности лицевого счёта и дома">Подробности лицевого счёта и дома</a>
			</div><!-- .header_text-->
			<ul class="top_menu ul-clear">
				<li><a href="#" title="Сводка">Сводка <span>на 20 ноября 2013</span></a></li>
				<li><a href="#" title="Показания счётчиков">Показания счётчиков</a></li>
				<li><a href="#" title="Начисления">Начисления <span>249 500</span></a></li>
				<li><a href="#" title="Где оплатить">Где оплатить</a></li>
				<li><a href="#" title="Куда обращаться">Куда обращаться</a></li>
				<li class="active"><a href="#" title="Доп. услуги">Доп. услуги</a></li>
			</ul>
			<div class="searvise_search">
            <form id="searvise_search" method="get" action="#">
            <input class="search_text" type="text" placeholder="Искать...">
            <input class="search_btn" type="button" value="">
            <span class="input_clear">очистить</span>
            </form>
            </div>
			<ul class="bread_crumbs  ul-clear">
				<li><a href="#" title="Все услуги">Все услуги</a></li>
				<li class="bread_crumbs_separator">&rarr;</li>
				<li>Ремонт и отделка</li>
				<li class="bread_crumbs_separator">&darr;</li>
			</ul>



			<div class="content">
				<div class="search">
					<form>
						Искать в этом разделе:
						<input class="search_text" type="text" placeholder="Искать...">
						<input class="search_btn" type="button" value="">
					</form>
				</div>
				<div class="menu_main">

					<div class="menu_main_block">
						<span>Комплексный ремонт «под ключ»</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Мастер на все руки (мелкий ремонт)">Мастер на все руки (мелкий ремонт)</a></li>
							<li><a href="#" title="Ремонт ванной комнаты и санузла «под ключ»">Ремонт ванной комнаты и санузла «под ключ»</a></li>
							<li><a href="#" title="Ремонт квартир, коттеджей">Ремонт квартир, коттеджей</a></li>
							<li><a href="#" title="Ремонт офисов, общественных помещений ">Ремонт офисов, общественных помещений</a></li>
							<li><a href="#" title="Вывоз мусора ">Вывоз мусора</a></li>
						</ul>
					</div><!-- .menu_main_block-->

					<div class="menu_main_block">
						<span>Отделочные работы. Внутренняя отделка стен</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Лепнина ">Лепнина </a></li>
							<li><a href="#" title="Монтаж гипсокартона">Монтаж гипсокартона</a></li>
							<li><a href="#" title="Монтаж панелей ПВХ">Монтаж панелей ПВХ</a></li>
							<li><a href="#" title="Нанесение декоративной штукатурки">Нанесение декоративной штукатурки</a></li>
							<li><a href="#" title="Облицовка плиткой">Облицовка плиткой</a></li>
							<li><a href="#" title="Оклейка обоями">Оклейка обоями</a></li>
							<li><a href="#" title="Покраска, обои под покраску">Покраска, обои под покраску</a></li>
							<li><a href="#" title="Художественная роспись. Фрески.">Художественная роспись. Фрески.</a></li>
							<li><a href="#" title="Шпаклевка стен">Шпаклевка стен</a></li>
							<li><a href="#" title="Штукатурка стен">Штукатурка стен</a></li>
						</ul>
					</div><!-- .menu_main_block-->

					<div class="menu_main_block">
						<span>Перепланировка квартир</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Возведение перегородок">Возведение перегородок</a></li>
							<li><a href="#" title="Демонтаж стен">Демонтаж стен</a></li>
							<li><a href="#" title="Межкомнатные перегородки ">Межкомнатные перегородки </a></li>
							<li><a href="#" title="Разрушение перегородок, проемы">Разрушение перегородок, проемы</a></li>
							<li><a href="#" title="Сантехнические перегородки">Сантехнические перегородки</a></li>
						</ul>
					</div><!-- .menu_main_block-->

					<div class="separator"></div>
				</div><!-- .menu_main-->


				<div class="card">
					<div class="card_title"><img src="{{ asset('gkh/demo/demo1.png') }}" alt="">Козловский Н.В., ИП</div>
					<ul  class="card_items ul-clear">
						<li>Ремонт и отделка квартир</li>
						<li>Плиточные работы</li>
						<li>Сантехнические работы</li>
						<li>Электрика</li>
						<li>Малярные работы</li>
						<li>Гипсокартонные работы</li>
					</ul>

					<div class="card_text">
						<p>Наши специалисты - мастера своего дела, проверенные временем. Также мы беремся за отдельные виды внутренних отделочных работ. Поможем подобрать оптимальные материалы. Воплотим Ваши идеи в жизнь.</p>
						<p>Производим ремонт от косметического до люкс и премиум класса. Также выполним работы по покраске различных металлоконструкций из соответствующего оборудования (опыт и качество гарантируем).</p>
					</div>

					<div class="card_contact">
						г. Минск, ул. Орловская, 40 А, офис 46
						<ul class="ul-clear">
							<li>(017) 233-32-37</li>
							<li>(029) 677-06-71</li>
							<li>(029) 770-67-17</li>
							<li><a href="#" title="remontbest.by">remontbest.by</a></li>
						</ul>
					</div><!-- .sidebar#sideRight_two -->
					<div class="separator"></div>
				</div><!-- card-->

				<div class="card">
					<div class="card_title"><img src="{{ asset('gkh/demo/demo1.png') }}" alt="">Козловский Н.В., ИП</div>
					<ul  class="card_items ul-clear">
						<li>Ремонт и отделка квартир</li>
						<li>Плиточные работы</li>
						<li>Сантехнические работы</li>
						<li>Электрика</li>
						<li>Малярные работы</li>
						<li>Гипсокартонные работы</li>
					</ul>

					<div class="card_text">
						<p>Наши специалисты - мастера своего дела, проверенные временем. Также мы беремся за отдельные виды внутренних отделочных работ. Поможем подобрать оптимальные материалы. Воплотим Ваши идеи в жизнь.</p>
						<p>Производим ремонт от косметического до люкс и премиум класса. Также выполним работы по покраске различных металлоконструкций из соответствующего оборудования (опыт и качество гарантируем).</p>
					</div>

					<div class="card_contact">
						г. Минск, ул. Орловская, 40 А, офис 46
						<ul class="ul-clear">
							<li>(017) 233-32-37</li>
							<li>(029) 677-06-71</li>
							<li>(029) 770-67-17</li>
							<li><a href="#" title="remontbest.by">remontbest.by</a></li>
						</ul>
					</div><!-- .sidebar#sideRight_two -->
					<div class="separator"></div>
				</div><!-- card-->
				<div class="pad-60"></div>
			</div><!-- .content-->
		</div><!-- .container-->

            <!-- модальные START -->

            <div id="elektron" class="modal-window-wrapper"> <!-- Электронное обращение, -->
                <div class="div-elektron">
    <div class="btn-close"><span class="exit-big">&nbsp;</span></div>
    <div class="div-elektron_title">
        Электронное обращение
        <div class="remark">
            В соответствии с Законом Республики Беларусь «Об обращении граждан и юридических лиц» от 18 июля 2011 г. №300-3 обращение в организацию может быть осуществленно в письменной, электронной или устной форме.
            <br>Обращения должны соответствовать требованиям, <a href="#">статей 12 и 25 Закона «Об обращениях граждан и юридических лиц»</a>.
        </div>
        <div class="remark-2">Все поля обязательны для заполнения</div>
    </div>
    <form id="electronic_treatment-form" action="{{ path('main_index') }}" enctype="multipart/form-data" method="post">
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        <table width='100%'>
            <tr>
                <td class="
                {% if form.place.vars.errors|length > 0 %}
                    table-red
                {% endif %}" width="150">Место обращения:</td>
                <td class="
                {% if form.place.vars.errors|length > 0 %}
                    table-red
                {% endif %}" width="365">{{ form_widget(form.place) }}</td>
                <td rowspan="5" class="right-row">
                    Вы также можете прикрепить дополнительные документы, более полно раскрывающие суть вашего обращения:<br>
                    <div style="position:relative">
                    <!--    <input   class="input-file" type="file">&nbsp;<span class="delete">&nbsp;</span><br>-->
                        {{ form_widget(form.doc) }}
                    </div>
                    <div class="remark">Допустимые форматы: doc, docx, rtf, pdf, txt, jpg, rar, zip. Размер не более 1МБ.</div>
                </td>
            </tr>
            <tr class="
                {% if form.fio.vars.errors|length > 0 %}
                    table-red
                {% endif %}">
                <td>ФИО:</td>
                <td>{{ form_widget(form.fio) }}</td>
            </tr>
            <tr class="
                {% if form.address.vars.errors|length > 0 %}
                    table-red
                {% endif %}">
                <td>Адрес проживания:</td>
                <td>{{ form_widget(form.address) }}</td>
            </tr>
            <tr class="
                {% if form.phone.vars.errors|length > 0 %}
                    table-red
                {% endif %}">
                <td>Контактный телефон:</td>
                <td>{{ form_widget(form.phone) }}</td>
            </tr>
            <tr>
                <td>Ответить:</td>
                <td style="line-height: 25px;" class="div-elektron_radio">
               {% set i=0 %}
                    {% for child in form.answer %}
    <div>
        {{ form_widget(child) }}
        {{ form_label(child) }}
        {% if i == 0 %}
            {{ form_widget(form.email) }}
        {% endif %}
    </div>
    {% set i=i+1 %}
{% endfor %}

                </td>
            </tr>
            <tr>
                <td class="
                {% if form.message.vars.errors|length > 0 %}
                    table-red
                {% endif %}">Текст сообщения:</td>
                <td class="
                {% if form.message.vars.errors|length > 0 %}
                    table-red
                {% endif %}">
                    <div class='div-elektron-textarea'>
                        {{ form_widget(form.message) }}
                        <div class="chars"></div>
                    </div>
                </td>
                <td class="td_info">
                    {{ form_errors(form.place) }}
                    {{ form_errors(form.fio) }}
                    {{ form_errors(form.address) }}
                    {{ form_errors(form.answer) }}
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.message) }}
                 <!--   Заполните все обязательные поля<br><br>-->
                    <input id="electronic_submit" type="submit" value="Отправить обращение" class="orange-43"> &nbsp;<a id="electron_cancel" href="#">Отмена</a>
                </td>
            </tr>
        </table>
    </form>
</div>
            </div>

            <div id="registration" class="modal-window-wrapper"> <!-- Регистрация -->

            </div>

            <div id="registration2" class="modal-window-wrapper"> <!-- Регистрация 2 -->

            </div>

            <div id="registration3" class="modal-window-wrapper"> <!-- Регистрация 3 -->

            </div>


            <div id="login_window" class="modal-window-wrapper"> <!-- Логин -->

            </div>

            <div id="registration4" class="modal-window-wrapper"> <!-- Регистрация 4 -->
                <div class="div-registration">
                    <div class="btn-close"><span class="exit-big">&nbsp;</span></div>
                    <div class="div-registration_title">Спасибо!</div>

                    <div class="div-registration_wrapper-2">
                        Для завершения регистрации пройдите по ссылке, которая выслана на ваш e-mail
                    </div>

                </div>
            </div>

            <div id="registration5" class="modal-window-wrapper"> <!-- Регистрация 5 -->
                <div class="div-registration">
                    <div class="btn-close"><span class="exit-big">&nbsp;</span></div>
                    <div class="div-registration_wrapper-2">
                        <div class="div-registration_title">Поздравляем!</div>
                        Вы зарегистрировались на нашем сайте<br>
                        <div class="pad-30"></div>
                        <a href="#">Изменить свои личные данные</a><br>
                        <a href="#">Настроить уведомления</a><br><br>
                        <input onclick="location.href='{{ path("main_index") }}'" type="button" value="Начать работу"  class="orange-43">

                    </div>
                </div>
            </div>
            <!-- модальные END -->

<script>
    $(function() {
        if({{ error }}){
             $('#elektron').show();
        }
        if('{{ app.request.get('success') }}'){
            alert('Ваше обращение получено и будет рассмотрено в соответствии с законодательстовм РБ');
        }
        $("#electron_cancel").on('click', function() {
            $('#elektron').hide();
        });
        $('#register-button').on('click', function() {
            $('#registration').show(function() {
                var modal = $(this);
                $.ajax({
                    type: "GET",
                    url: "{{ path('user_register_step1') }}"
                })
                .success(function(response) {
                    modal.html(response);
                });
            });
        });
        $('#registration').delegate( "#step1-next, #step1-next-footer", "click", function() {
            $.ajax({
                    type: "POST",
                    url: "{{ path('user_register_step1') }}",
                    data: $('#step1-form').serialize()
                })
                .success(function(data) {
                    if(data.status){
                         $('#registration').hide();
                         $("#registration2").show(function() {
                             var modal = $(this);
                            $.ajax({
                                type: "GET",
                                url: "{{ path('user_register_step2') }}"
                            })
                            .success(function(response) {
                                modal.html(response);
                });
                         });
                    } else if(data.html) {
                         $('#registration').html(data.html);
                    } else if(data.id) {
                        $('#registration').hide();
                        alert('Ваша заявка принята и будет рассмотрена в ближайшее время. Спасибо!');
                    }
                });
        });
        $('#registration2').delegate( "#step2-next", "click", function() {
            $.ajax({
                    type: "POST",
                    url: "{{ path('user_register_step2') }}",
                    data: $('#step2-form').serialize()
                })
                .success(function(data) {
                if(data.status) {
                     $('#registration2').hide();
                     $("#registration3").show(function() {
                             var modal = $(this);
                               $.ajax({
                                type: "GET",
                                url: "{{ path('user_register_step3') }}"
                            })
                            .success(function(response) {
                                modal.html(response);
                            });
                         });
                } else {
                    $('#registration2').html(data.html);
                }
                });
        });
        $('#registration3').delegate( "#step3-next", "click", function() {
            $.ajax({
                    type: "POST",
                    url: "{{ path('user_register_step3') }}",
                    data: $('#step3-form').serialize()
                })
                .success(function(data) {
                if(data.status) {
                     $('#registration3').hide();
                         $("#registration4").show();
                } else {
                    $('#registration3').html(data.html);
                }
                });
        });
        {% if app.request.get('confirmed') %}
            $("#registration5").show();
        {% endif %}
        $('#login-button').on('click', function() {
            $('#login_window').show(function() {
                var modal = $(this);

                $.ajax({
                    type: "GET",
                    url: "{{ path('fos_user_security_login') }}"
                })
                .success(function(response) {
                    modal.html(response);
                });
            });
        });
        $('#login_window').delegate( "#_submit", "click", function() {
            $.ajax({
                    type: "POST",
                    url: "{{ path('fos_user_security_check') }}",
                    data: $('#login-form').serialize()
                })
            .success(function(data) {
                if(data.status) {
                     $('#login_window').hide();
                     location.href = '{{ path("main_index") }}';
                } else {
                    $('#login_window').html(data);
                }
            });
        });
        $('#electron_button').on('click', function() {
            $('#elektron').show();
        });
    });
     $('.modal-window-wrapper').delegate( ".btn-close", "click", function() {
        $('.modal-window-wrapper').hide();
     });


</script>
{% endblock content %}